@import "../App.scss";

.carousel-container {
  margin-top: 10px;
  background-color: $maincolor;
  margin-left: 2rem;
  margin-right: 2rem;
  border-radius: 25px;
}
.carousel,
.item {
  margin-left: auto;
  margin-right: auto;
}
.d-block {
  height: 35vw;
  opacity: 0.9;
  border-radius: 25px;
}
h3 {
  color: $maincolor;
}
@media only screen and (max-width: 700px) {
  h3 {
    font-size: 10px !important;
  }
}
