@import "../App.scss";

.event-display {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}
.heading {
  color: $altcolor;
  text-align: center;
}
.sub-heading {
  color: $maincolor;
  text-align: center;
}
.event-message {
  height: 20rem;
}
@media only screen and (max-width: 700px) {
  .event-display {
    justify-content: center;
  }
  .heading {
    font-size: 20px;
  }
  .sub-heading {
    font-size: 16px;
  }
}
