@import "../App.scss";

.row {
  margin-top: 0.5rem;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  overflow-x: hidden !important;
  max-width: 100% !important;
}
.logo {
  margin-right: auto;
  margin-left: 2rem !important;
  width: 18vw;
  float: left;
}
.search {
  width: 30vw;
  margin-left: auto;
  margin-right: auto;
}
.MuiButtonBase-root:hover {
  background-color: $maincolor !important;
}
.twitter {
  margin-right: 2rem !important;
  margin-left: auto;
  width: 10vw;
}
@media only screen and (max-width: 700px) {
  .search {
    height: 2rem !important;
    margin-right: 2rem;
    margin-left: auto;
    width: 50vw;
  }
  .twitter {
    display: none !important;
  }
}
