@import "../../App.scss";


.carousel-container{
    margin-top:10px;
    background-color: $maincolor;
    margin-left: 2rem;
    margin-right:2rem;
    border-radius: 25px
}
.carousel, .item {
    margin-left: auto;
    margin-right: auto;
    
  }
.d-block {
    height: 35vw;
    opacity: 0.9;
    border-radius: 25px;
}