@import "../../App.scss";

.geo, .geo2{
    display:flex;
    margin-bottom: 0.5rem;
}
.date, .city{
    margin-right:0.5rem;
    margin-left:auto;
}
.country, .venue{
    margin-left:0.5rem;
    margin-right:auto;
}

.card-title, h6, p{
    color:$maincolor !important;
}
.card-title{
    margin-left:0.5rem;
    margin-right:auto;
    margin-top:20px
}
.event-card{
    background-color: $altcolor !important;
    margin-bottom: 20px;
    margin-top: 20px;
    width: 18rem;
}
@media only screen and (max-width: 700px) {
    .geo, .geo2{
    font-size:12px;
}
    .card-title{
        font-size:16px;
    }
    .event-card{
        width:15rem;
    }
}