@import "~bootstrap/scss/bootstrap";

// Theme Colors
$maincolor:#00CEC8;
$altcolor: #000000;

body{
  background-color: #163e69;
  overflow-x: hidden;
}
.d-flex{
  margin-top: 5rem !important;
}
.spinner-grow{
  height: 3rem !important;
  width: 3rem !important;
}