@import "~bootstrap/scss/bootstrap";

// Theme Colors
$maincolor: #d8e3e7;
$altcolor: #126e82;

body {
  background-color: #132c33;
  font-family: Big Caslon, Book Antiqua, Palatino Linotype, Georgia, serif;
}
.d-flex {
  margin-top: 5rem !important;
}
.spinner-grow {
  height: 3rem !important;
  width: 3rem !important;
  color: $maincolor !important;
}
